<section class="container">
  <div>
    <div class="f-40 font-bold margin-y-l text-tooti">
      Get in Touch
    </div>
    <div class="horizontal-line"></div>
  </div>
  <div class="row">
    <div class="col-6">
      <span class="text-tooti font-medium f-20">
        I’m open to new opportunities where I can contribute to building intuitive, high-quality web applications. If you think my skills align with your team’s needs, I’d be happy to connect.
      </span>
      <div class="margin-y-m" *ngFor="let item of contact">
        <div class="d-flex">
          <mat-icon class="text-tooti f-40" style="width:40px ; height:40px;">{{item.icon}}</mat-icon>
          <span class="text-tooti f-20 margin-x-s mt-1">{{item.description}}</span>
        </div>
      </div>
    </div>
    <div class="col-6">
       <form [formGroup]="contactForm" (ngSubmit)="sendEmail()" class="w-full max-w-md p-8 rounded-2xl shadow-md space-y-5">
  
        <div class="text-tooti f-16 font-medium">
          Name*
        </div>
        <mat-form-field appearance="outline" class="col-lg-8 col-sm-4">
          <input matInput formControlName="name" required />
          <mat-error *ngIf="contactForm.get('name')?.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>

        <div class="text-tooti f-16 font-medium">
          Email*
        </div>
        <mat-form-field appearance="outline" class="col-lg-8 col-sm-4">
          <input matInput formControlName="email" required type="email" />
          <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
            Enter a valid email
          </mat-error>
        </mat-form-field>

        <div class="text-tooti f-16 font-medium">
          Message*
        </div>
        <mat-form-field appearance="outline" class="col-lg-8 col-sm-4">
          <textarea matInput formControlName="message" rows="5" required></textarea>
          <mat-error *ngIf="contactForm.get('message')?.hasError('required')">
            Message is required
          </mat-error>
        </mat-form-field>

        <button class="color-background margin-x-s" [disabled]="contactForm.invalid" style="width: 15rem; height: 50px;" matButton="filled" type="submit">Send Message</button>


      </form>


    </div>
  </div>
</section>