.contact {
  text-align: center;
  padding: 4rem 2rem;

  h2 {
    margin-bottom: 1rem;
  }

  a {
    color: #a8dadc;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

.horizontal-line {
  height: 1px;             /* thickness */
  background-color: #ffd700;  /* color */
  width: 50%;             /* full width */
  margin: 1rem 0;          /* spacing */
}


.color-background{
  background-color: #ffffc5 !important;
  color: #9d2f2fa1 !important
}