.about {
  max-width: 800px;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  color: #333;

  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.horizontal-list {
  list-style-type: none;
  display: flex;              /* or inline-flex */
  flex-wrap: wrap;
  gap: 2rem;                  /* space between bullets */
  padding: 0;
  margin: 0;
}

.horizontal-list li:first-child {
  list-style-type: none; /* removes bullet from first item */
}

.horizontal-list li {
  display: list-item;         /* ensures bullets show */
  font-weight: 700;
  font-size: 20px;
  text-wrap-mode: nowrap;
}
