<section class="container">
  <div class="row d-flex justify-content-between" style="margin-top:5rem">
    <div class="col-5">
      <img src="assets/images/myPic.jpeg" style="border-radius: 2%;" alt="Mais" width="70%" height="75%">
    </div>
    <div class="col-6">
      <div class="f-40 text-tooti font-bold">
        About Me
      </div>
      <div class="f-20 text-tooti font-medium margin-y-l" style="line-height: 1.5;">
        I am a software engineer passionate about building scalable, user-friendly 
        applications. With solid experience in both front-end and back-end development,
        I specialize in Angular, Spring Boot, and Azure DevOps. I thrive in collaborative
        environments, working closely with cross-functional teams to deliver high-quality
        solutions on time.
      </div>
      <div class="font-semi-bold margin-y-l text-tooti">
        <ul class="horizontal-list">
          <li>Angular</li>
          <li>TypeScript</li>
          <li>Spring Boot</li>
          <li>Azure DevOps</li>
          <li>Tailwind CSS</li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <div class="f-36 text-tooti font-semi-bold">
      What I Value
    </div>
    <div class="row margin-y-l" style="text-align: center;">
      <div class="col-4" *ngFor="let item of info">
        <mat-icon class="text-tooti f-40" style="width:40px ; height:40px;">{{item.icon}}</mat-icon>
        <div class="text-tooti f-20 font-bold">
          {{item.title}}
        </div>
        <div class="text-tooti f-16 font-semi-bold mt-s mb-l">
          {{item.description}}
        </div>
      </div>
    </div>
  </div>
</section>
