.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  color: #9d2f2fa1;

  .logo {
    font-weight: 600;
    font-size: 1.4rem;
    width: 8rem;
  }

  ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;

    a {
      text-decoration: none;
      color: #9d2f2fa1;
      font-weight: 500;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.background-white{
  background-color: white;
}

.profile-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* makes it circular */
  object-fit: cover;
  cursor: pointer;
}