.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  color: black;

  .logo {
    font-weight: 600;
    font-size: 1.4rem;
  }

  ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;

    a {
      text-decoration: none;
      color: black;
      font-weight: 500;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.background-white{
  background-color: white;
}