<!-- <section class="home">
  <h1>Mais Dalbah</h1>
  <p>Software Engineer • Angular & TypeScript • Java Spring Boot</p>
</section> -->

<div class="w-100 h-100">
  <div class="box pastel-bubbles w-100 h-100">
    <div class="center-aligned h-100">
      <div class="col-8 text-center">
        <span class="f-40">
          Hi, I'm Mais Dalbah, your software engineer
        </span>
        <br>
        <div class="mt-m f-20">
          I am a software engineer passionate about building scalable, user-friendly 
          applications. With solid experience in both front-end and back-end development,
            I specialize in Angular, Spring Boot, and Azure DevOps. I thrive in collaborative
            environments, working closely with cross-functional teams to deliver high-quality
              solutions on time.
        </div>
        <div class="margin-y-l">
            <button style="width: 15rem; height: 50px;" matButton="filled" [routerLink]="['/web-pages']">Web Pages</button>
        </div>
      </div>
    </div>
  </div>
    

</div>