<!-- <section class="home">
  <h1>Mais Dalbah</h1>
  <p>Software Engineer • Angular & TypeScript • Java Spring Boot</p>
</section> -->

<div class="w-100" style="height: 90%;">
  <div class="box pastel-bubbles w-100 h-100">
    <div class="center-aligned h-100">
      <div class="col-8 text-center">
        <span class="f-40">
          Hi, I'm Mais Dalbah, your software engineer
        </span>
        <br>
        <div class="mt-m f-26" style="font-weight: 600;">
          Turning complex ideas into clean, intuitive web experiences.
        </div>
        <div class="margin-y-l">
            <button class="color-background" style="width: 15rem; height: 50px;" matButton="filled" [routerLink]="['/web-pages']">Web Pages</button>
             <button class="color-background margin-x-s" style="width: 15rem; height: 50px;" matButton="filled" [routerLink]="['/about']">About me</button>
        </div>
      </div>
    </div>
  </div>
    

</div>