.home {
  text-align: center;
  padding: 10rem 2rem;
  background-color: #fdf6f0;
  color: #333;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    color: #555;
  }
}
