   swiper-container {
      width: 50%;
      height: 90%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 80%;
      height: 80%;
      object-fit: cover;
    }

    .swiper .swiper-button-prev {
            color: #ffc0cb !important;
    }

    
  swiper-button-next{
          color: #ffc0cb !important; 
  }

    

   
.mySwiper::before,
.mySwiper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  pointer-events: none;
  z-index: 10;
  width: 80%;
  max-width: 900px;
  height: 100%;
  margin: auto;
  --swiper-navigation-color: #ffc0cb;
  --swiper-theme-color: #ffc0cb;
}

.mySwiper::before {
  left: 0;
  background: transparent;
}
.mySwiper::after {
  right: 0;
  background: transparent;
}


.slide-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}
.slide-img:hover {
  transform: scale(1.03);
}



@keyframes fadeInScale {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
.color-background {
  animation: fadeInScale 0.2s ease-out;
}

:host {
    --swiper-theme-color: #9d2f2fa1 !important;
}

:root{
  --swiper-theme-color: #9d2f2fa1 !important;
}


.swiper-button-next, .swiper-button-prev {

  color: #9d2f2fa1 !important;
}